/* resume */

.resume {
  margin-top: 0.5rem;
}

.resume-section {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid;
}

.resume-section:last-child {
  border-bottom: none;
  margin-bottom: inherit;
}

/* bootstrap tweaks */

.container {
  max-width: 1000px;
}
