/* resume */

.resume {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  border: 2px solid;
}

.resume-section {
  padding: 0.5rem;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
}

.resume-section:last-child {
  border-bottom: none;
  margin-bottom: inherit;
}

/* bootstrap tweaks */

.container {
  max-width: 992px;
}
