{{ $resume := site.Data.resume }}
<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="uswds-2.3.1/css/uswds.min.css">
    <title>{{ $resume.basics.name }}</title>
  </head>
  <body>
    <div class="grid-container border">
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col">
          <h1>{{ $resume.basics.name }}</h1>
          <p><em>{{ $resume.basics.label }}</em></p>
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Contact</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              <li><strong>Website:</strong> <a href="{{ $resume.basics.website }}">{{ $resume.basics.website }}</a></li>
              <li><strong>Email:</strong> {{ $resume.basics.email }}</li>
              <li><strong>Phone:</strong> {{ $resume.basics.phone }}</li>
            </ul>
          </p>
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Work</h2>
        </div>
        <div class="tablet:grid-col">
          {{ range $resume.work }}
            {{ $freelance := "Freelance" }}
            {{ $position_company := $freelance }}
            {{ if ne .company $freelance }}
              {{ $position_company = printf "%s at %s" .position .company }}
            {{ end }}
            <h3>{{ $position_company }}</h3>
            <p>{{ printf "%s &mdash; %s" .startDate .endDate | safeHTML }}</p>
            <p>
              <ul class="add-list-reset">
                {{ range .highlights }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            </p>
          {{ end }}
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Education</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            {{ range $resume.education }}
              <h3>{{ .institution }}</h2>
              <p>{{ printf "%s &mdash; %s" .startDate .endDate | safeHTML }}</p>
              <p>{{ printf "%s, %s" .area .studyType }}</p>
            {{ end }}
          </p>
        </div>
      </div>

      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Skills</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              {{ range $resume.skills }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </p>
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Certifications</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              {{ range $resume.certifications }}
                <li>{{ .name }}, {{ .date }}</li>
              {{ end }}
            </ul>
          </p>
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Awards</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              {{ range $resume.awards }}
                <li>{{ .title }}, {{ .date }}</li>
              {{ end }}
            </ul>
          </p>
        </div>
      </div>
      
      <div class="grid-row border-bottom">
        <div class="tablet:grid-col-3">
          <h2>Writing Samples</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              {{ range $resume.writingSamples }}
                <li>{{ .name }}, <a href="{{ .url }}">{{ .url }}</a></li>
              {{ end }}
            </ul>
          </p>
        </div>
      </div>
      
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <h2>Profiles</h2>
        </div>
        <div class="tablet:grid-col">
          <p>
            <ul class="add-list-reset">
              {{ range $resume.basics.profiles }}
                <li><strong>@{{ .username }}</strong> on <a href="{{ .url }}">{{ .network }}</a></li>
              {{ end }}
            </ul>
          </p>
        </div>
      </div>

    </div>
  </body>
</html>
